<a href="https://colab.research.google.com/github/Mai-Binh-Nam/Hand-on_DataAnalysisVEF/blob/master/%5BStudents%5D_Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Package `pandas` and dataframe structure

In data analysis, pandas is one of the most important libraries we will need to know. As discussed in class, structured data in reality are stored in tabular format such as the order table from the case study. `Dataframe` structure from `pandas` library is very convenient for this purpose.

## 1. Dataframe information

To start using pandas, import it to our notebook

In [ ]:
import pandas as pd

We can create a dataframe by inputing the data directly in python command. But often, we read tables from external sources such as csv files and store them in a dataframe. Let's read the order table as done before.

In [ ]:
# Orders
orders = pd.read_csv('https://raw.githubusercontent.com/thuynh386/olist_ecommerce_dataset/master/olist_orders_dataset.csv')

Now we have a dataframe `orders` containing information about every order made on Olist during the time period in consideration.

`head()` is a function to explore a dataframe by printing several (default 5) first rows. `tail()` prints several (default 5) last rows of a dataframe.

In [ ]:
orders.head()

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  ...           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  ...           2018-02-26 00:00:00

[5 rows x 8 columns]

Dataframe is always indexed. If we don't specify an index, it will be automatically indexed by integers as seen above. In Python, index starts at 0 (zero-indexing). An index refers to the position of an element in the data structure.

We can see some information about a dataframe by using `shape` and `columns` attributes.

In [ ]:
# 99,441 rows, 8 columns
orders.shape

(99441, 8)

In [ ]:
# List of table columns
orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

`info()` provides some other information about the dataframe. Here, we can see the column names, the number of non-null rows for each column and the data type of each column.

In [ ]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

## 2. Slicing & Subsetting
Very often, we only want to work a part of a dataframe such as the orders of category "bebes". Dataframe support operations to achieve this goal by:
1. Slicing
1. Subsetting

### 2.1. Slicing
If we want to select rows in a given range, we can do that by the slicing operation. The syntax is `data[row range]`.

In [ ]:
# Select rows from 5 to 15 from orders
orders[5:16]

                            order_id  ... order_estimated_delivery_date
5   a4591c265e18cb1dcee52889e2d8acc3  ...           2017-08-01 00:00:00
6   136cce7faa42fdb2cefd53fdc79a6098  ...           2017-05-09 00:00:00
7   6514b8ad8028c9f2cc2374ded245783f  ...           2017-06-07 00:00:00
8   76c6e866289321a7c93b82b54852dc33  ...           2017-03-06 00:00:00
9   e69bfb5eb88e0ed6a785585b27e16dbf  ...           2017-08-23 00:00:00
10  e6ce16cb79ec1d90b1da9085a6118aeb  ...           2017-06-07 00:00:00
11  34513ce0c4fab462a55830c0989c7edb  ...           2017-08-08 00:00:00
12  82566a660a982b15fb86e904c8d32918  ...           2018-07-18 00:00:00
13  5ff96c15d0b717ac6ad1f3d77225a350  ...           2018-08-08 00:00:00
14  432aaf21d85167c2c86ec9448c4e42cc  ...           2018-03-21 00:00:00
15  dcb36b511fcac050b97cd5c05de84dc3  ...           2018-07-04 00:00:00

[11 rows x 8 columns]

**Question: Why is the index here from 5 to 16?**

In [ ]:
# Or rows from 0 to 20. If rows we want start from 0, we can omit 0 in the range.
orders[:21]

                            order_id  ... order_estimated_delivery_date
0   e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1   53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2   47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00
3   949d5b44dbf5de918fe9c16f97b45f8a  ...           2017-12-15 00:00:00
4   ad21c59c0840e6cb83a9ceb5573f8159  ...           2018-02-26 00:00:00
5   a4591c265e18cb1dcee52889e2d8acc3  ...           2017-08-01 00:00:00
6   136cce7faa42fdb2cefd53fdc79a6098  ...           2017-05-09 00:00:00
7   6514b8ad8028c9f2cc2374ded245783f  ...           2017-06-07 00:00:00
8   76c6e866289321a7c93b82b54852dc33  ...           2017-03-06 00:00:00
9   e69bfb5eb88e0ed6a785585b27e16dbf  ...           2017-08-23 00:00:00
10  e6ce16cb79ec1d90b1da9085a6118aeb  ...           2017-06-07 00:00:00
11  34513ce0c4fab462a55830c0989c7edb  ...           2017-08-08 00:00:00
12  82566a660a982b15fb86e904c8d32918  ...           2018-07-18 00:00:00
13  5ff96c15d0b717ac6ad1f3d77225a350  ...           2018-08-08 00:00:00
14  432aaf21d85167c2c86ec9448c4e42cc  ...           2018-03-21 00:00:00
15  dcb36b511fcac050b97cd5c05de84dc3  ...           2018-07-04 00:00:00
16  403b97836b0c04a622354cf531062e5f  ...           2018-02-06 00:00:00
17  116f0b09343b49556bbad5f35bee0cdf  ...           2018-01-29 00:00:00
18  85ce859fd6dc634de8d2f1e290444043  ...           2017-12-11 00:00:00
19  83018ec114eee8641c97e08f7b4e926f  ...           2017-11-23 00:00:00
20  203096f03d82e0dffbc41ebc2e2bcfb7  ...           2017-09-28 00:00:00

[21 rows x 8 columns]

To select certain columns only, provide the column names as below.

In [ ]:
# Choose column order_status only
orders[["order_status"]] # With column name printed out

      order_status
0        delivered
1        delivered
2        delivered
3        delivered
4        delivered
...            ...
99436    delivered
99437    delivered
99438    delivered
99439    delivered
99440    delivered

[99441 rows x 1 columns]

In [ ]:
orders["order_status"] # Without column name printed out

0        delivered
1        delivered
2        delivered
3        delivered
4        delivered
           ...
99436    delivered
99437    delivered
99438    delivered
99439    delivered
99440    delivered
Name: order_status, Length: 99441, dtype: object

In [ ]:
# Select several columns at once
orders[["order_status", "order_purchase_timestamp"]]

      order_status order_purchase_timestamp
0        delivered      2017-10-02 10:56:33
1        delivered      2018-07-24 20:41:37
2        delivered      2018-08-08 08:38:49
3        delivered      2017-11-18 19:28:06
4        delivered      2018-02-13 21:18:39
...            ...                      ...
99436    delivered      2017-03-09 09:54:05
99437    delivered      2018-02-06 12:58:58
99438    delivered      2017-08-27 14:46:43
99439    delivered      2018-01-08 21:28:27
99440    delivered      2018-03-08 20:57:30

[99441 rows x 2 columns]

### 2.2. Subsetting by location and labels

If we want to select given rows and columns at the same time, we have to use subsetting with either:
1. `iloc`: specify rows and columns by integer locations.
1. `loc`: specify rows and columns by *label*.

`iloc`: Select rows from 0 to 20 (21 rows) and columns from 2 to 5 (4 columns).

In [ ]:
orders.iloc[0:21, 2:5]

   order_status order_purchase_timestamp    order_approved_at
0     delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1     delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2     delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3     delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4     delivered      2018-02-13 21:18:39  2018-02-13 22:20:29
5     delivered      2017-07-09 21:57:05  2017-07-09 22:10:13
6      invoiced      2017-04-11 12:22:08  2017-04-13 13:25:17
7     delivered      2017-05-16 13:10:30  2017-05-16 13:22:11
8     delivered      2017-01-23 18:29:09  2017-01-25 02:50:47
9     delivered      2017-07-29 11:55:02  2017-07-29 12:05:32
10    delivered      2017-05-16 19:41:10  2017-05-16 19:50:18
11    delivered      2017-07-13 19:58:11  2017-07-13 20:10:08
12    delivered      2018-06-07 10:06:19  2018-06-09 03:13:12
13    delivered      2018-07-25 17:44:10  2018-07-25 17:55:14
14    delivered      2018-03-01 14:14:28  2018-03-01 15:10:47
15    delivered      2018-06-07 19:03:12  2018-06-12 23:31:02
16    delivered      2018-01-02 19:00:43  2018-01-02 19:09:04
17    delivered      2017-12-26 23:41:31  2017-12-26 23:50:22
18    delivered      2017-11-21 00:03:41  2017-11-21 00:14:22
19    delivered      2017-10-26 15:54:26  2017-10-26 16:08:14
20    delivered      2017-09-18 14:31:30  2017-09-19 04:04:09

In [ ]:
# Select 1 element from the dataframe: Row number 3, first column
orders.iloc[3, 0]

'949d5b44dbf5de918fe9c16f97b45f8a'

`loc`: Rows here are labeled by integers and columns are labeled by column names.

In [ ]:
orders.loc[0:10, ["order_id","order_status","order_purchase_timestamp"]]

                            order_id order_status order_purchase_timestamp
0   e481f51cbdc54678b7cc49136f2d6af7    delivered      2017-10-02 10:56:33
1   53cdb2fc8bc7dce0b6741e2150273451    delivered      2018-07-24 20:41:37
2   47770eb9100c2d0c44946d9cf07ec65d    delivered      2018-08-08 08:38:49
3   949d5b44dbf5de918fe9c16f97b45f8a    delivered      2017-11-18 19:28:06
4   ad21c59c0840e6cb83a9ceb5573f8159    delivered      2018-02-13 21:18:39
5   a4591c265e18cb1dcee52889e2d8acc3    delivered      2017-07-09 21:57:05
6   136cce7faa42fdb2cefd53fdc79a6098     invoiced      2017-04-11 12:22:08
7   6514b8ad8028c9f2cc2374ded245783f    delivered      2017-05-16 13:10:30
8   76c6e866289321a7c93b82b54852dc33    delivered      2017-01-23 18:29:09
9   e69bfb5eb88e0ed6a785585b27e16dbf    delivered      2017-07-29 11:55:02
10  e6ce16cb79ec1d90b1da9085a6118aeb    delivered      2017-05-16 19:41:10

If the label does not exist, we get an error.

In [ ]:
orders.loc[0:10, [0,4,5]]

KeyError: ignored

Also, compare the results of the two operations below. What is the difference that needs to be remembered?

In [ ]:
# Using iloc to subset
orders.iloc[:10, 0:3]

                           order_id  ... order_status
0  e481f51cbdc54678b7cc49136f2d6af7  ...    delivered
1  53cdb2fc8bc7dce0b6741e2150273451  ...    delivered
2  47770eb9100c2d0c44946d9cf07ec65d  ...    delivered
3  949d5b44dbf5de918fe9c16f97b45f8a  ...    delivered
4  ad21c59c0840e6cb83a9ceb5573f8159  ...    delivered
5  a4591c265e18cb1dcee52889e2d8acc3  ...    delivered
6  136cce7faa42fdb2cefd53fdc79a6098  ...     invoiced
7  6514b8ad8028c9f2cc2374ded245783f  ...    delivered
8  76c6e866289321a7c93b82b54852dc33  ...    delivered
9  e69bfb5eb88e0ed6a785585b27e16dbf  ...    delivered

[10 rows x 3 columns]

In [ ]:
# Using loc to subset
orders.loc[:10, ["order_id", "customer_id","order_status"]]

                            order_id  ... order_status
0   e481f51cbdc54678b7cc49136f2d6af7  ...    delivered
1   53cdb2fc8bc7dce0b6741e2150273451  ...    delivered
2   47770eb9100c2d0c44946d9cf07ec65d  ...    delivered
3   949d5b44dbf5de918fe9c16f97b45f8a  ...    delivered
4   ad21c59c0840e6cb83a9ceb5573f8159  ...    delivered
5   a4591c265e18cb1dcee52889e2d8acc3  ...    delivered
6   136cce7faa42fdb2cefd53fdc79a6098  ...     invoiced
7   6514b8ad8028c9f2cc2374ded245783f  ...    delivered
8   76c6e866289321a7c93b82b54852dc33  ...    delivered
9   e69bfb5eb88e0ed6a785585b27e16dbf  ...    delivered
10  e6ce16cb79ec1d90b1da9085a6118aeb  ...    delivered

[11 rows x 3 columns]

### 2.3. Subsetting by conditions
We can also select rows of a dataframe by specifying conditions. The result contains only rows which satisfy our conditions.

Conditions available:

1. Equals: `==`
1. Not equals: `!=`
1. Greater than, less than: `>` or `<`
1. Greater than or equal to `>=`
1. Less than or equal to `<=`


Syntax for 1 condition:

In [ ]:
# Select only canceled orders
orders[orders["order_status"] == "canceled"]

                               order_id  ... order_estimated_delivery_date
397    1b9ecfe83cdc259250e1a8aca174f0ad  ...           2018-08-14 00:00:00
613    714fb133a6730ab81fa1d3c1b2007291  ...           2018-02-22 00:00:00
1058   3a129877493c8189c59c60eb71d97c29  ...           2018-02-23 00:00:00
1130   00b1cb0320190ca0daa2c88b35206009  ...           2018-09-12 00:00:00
1801   ed3efbd3a87bea76c2812c66a0b32219  ...           2018-10-17 00:00:00
...                                 ...  ...                           ...
98791  b159d0ce7cd881052da94fa165617b05  ...           2017-03-30 00:00:00
98909  e49e7ce1471b4693482d40c2bd3ad196  ...           2018-08-10 00:00:00
99143  6560fb10610771449cb0463c5ba12199  ...           2017-10-27 00:00:00
99283  3a3cddda5a7c27851bd96c3313412840  ...           2018-10-01 00:00:00
99347  a89abace0dcc01eeb267a9660b5ac126  ...           2018-09-27 00:00:00

[625 rows x 8 columns]

Syntax for multiple conditions. With more than 1 condition, we can use logical operations such as `AND (&)`, `OR (|)` to combine conditions.

In [ ]:
# Select only canceled orders by customer `e4e7ab3f449aeb401f0216f86c2104db`
orders[(orders["order_status"] == "canceled") & (orders["customer_id"]=="e4e7ab3f449aeb401f0216f86c2104db")]

                               order_id  ... order_estimated_delivery_date
98909  e49e7ce1471b4693482d40c2bd3ad196  ...           2018-08-10 00:00:00

[1 rows x 8 columns]

In [ ]:
# Select canceled and shipped orders
orders[(orders["order_status"] == "canceled") | (orders["order_status"] == "shipped")]

                               order_id  ... order_estimated_delivery_date
44     ee64d42b8cf066f35eac1cf57de1aa85  ...           2018-06-28 00:00:00
154    6942b8da583c2f9957e990d028607019  ...           2018-02-07 00:00:00
162    36530871a5e80138db53bcfd8a104d90  ...           2017-06-08 00:00:00
231    4d630f57194f5aba1a3d12ce23e71cd9  ...           2017-12-13 00:00:00
299    3b4ad687e7e5190db827e1ae5a8989dd  ...           2018-08-03 00:00:00
...                                 ...  ...                           ...
99113  274a7f7e4f1c17b7434a830e9b8759b1  ...           2018-07-24 00:00:00
99143  6560fb10610771449cb0463c5ba12199  ...           2017-10-27 00:00:00
99181  636cdd02667dc8d76d9296bf20a6890a  ...           2018-03-14 00:00:00
99283  3a3cddda5a7c27851bd96c3313412840  ...           2018-10-01 00:00:00
99347  a89abace0dcc01eeb267a9660b5ac126  ...           2018-09-27 00:00:00

[1732 rows x 8 columns]

With conditions, we can still specify certain columns only after applying the conditions to select rows we want.

In [ ]:
orders[(orders["order_status"] == "canceled") | (orders["order_status"] == "shipped")][["order_id","order_status","order_purchase_timestamp"]]

                               order_id order_status order_purchase_timestamp
44     ee64d42b8cf066f35eac1cf57de1aa85      shipped      2018-06-04 16:44:48
154    6942b8da583c2f9957e990d028607019      shipped      2018-01-10 11:33:07
162    36530871a5e80138db53bcfd8a104d90      shipped      2017-05-09 11:48:37
231    4d630f57194f5aba1a3d12ce23e71cd9      shipped      2017-11-17 19:53:21
299    3b4ad687e7e5190db827e1ae5a8989dd      shipped      2018-06-28 12:52:15
...                                 ...          ...                      ...
99113  274a7f7e4f1c17b7434a830e9b8759b1      shipped      2018-06-23 13:25:15
99143  6560fb10610771449cb0463c5ba12199     canceled      2017-10-01 22:26:25
99181  636cdd02667dc8d76d9296bf20a6890a      shipped      2018-02-17 14:31:22
99283  3a3cddda5a7c27851bd96c3313412840     canceled      2018-08-31 16:13:44
99347  a89abace0dcc01eeb267a9660b5ac126     canceled      2018-09-06 18:45:47

[1732 rows x 3 columns]

## 3. Summary statistics

With a pandas dataframe, there is a very convenient function which returns summary statistics for all columns: `describe()`.

Let's explore the `order_items` table as it has more numerical columns.

In [ ]:
# Order items
order_items = pd.read_csv('https://raw.githubusercontent.com/thuynh386/olist_ecommerce_dataset/master/olist_order_items_dataset.csv')

In [ ]:
order_items.head(10)

                           order_id  order_item_id  ...   price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
3  00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14
5  00048cc3ae777c65dbb7d2a0634bc1ea              1  ...   21.90         12.69
6  00054e8431b9d7675808bcb819fb4a32              1  ...   19.90         11.85
7  000576fe39319847cbb9d288c5617fa6              1  ...  810.00         70.75
8  0005a1a1728c9d785b8e2b08b904576c              1  ...  145.95         11.65
9  0005f50442cb953dcd1d21e1fb923495              1  ...   53.99         11.40

[10 rows x 7 columns]

In [ ]:
order_items.describe()

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

If we want, we can also calculate a certain summary statistics ourselves. For instance, we are interested in mean value for `freight_value`. Let's subset it from the dataframe and apply the `mean` function to it.

In [ ]:
order_items["freight_value"].mean()

19.99031992898562

In [ ]:
# Or median
order_items["freight_value"].median()

16.26

In [ ]:
# Or count the number of non-null rows for price
order_items["price"].count()

112650

In [ ]:
# Or how many unique values for price in this dataset? As seen below, many items have the same price so the number of unique price is much smaller.
order_items["price"].nunique()

5968

## 4. Pratice with `order_payment` table

Note: one order can be paid for by several payment methods. For more information about each column, refer to the Kaggle website.

In [ ]:
# Order payment
order_payments = pd.read_csv('https://raw.githubusercontent.com/thuynh386/olist_ecommerce_dataset/master/olist_order_payments_dataset.csv')

In [ ]:
order_payments.head()

                           order_id  ...  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17  ...          99.33
1  a9810da82917af2d9aefd1278f1dcfa0  ...          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...          65.71
3  ba78997921bbcdc1373bb41e913ab953  ...         107.78
4  42fdf880ba16b47b59251dd489d4441a  ...         128.45

[5 rows x 5 columns]

In [ ]:
# How many payment methods are there?
order_payments["payment_type"].unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

Question 1: Select only orders paid by credit card.

In [ ]:
# Write your code here.

Question 2: What is the average of all values in `payment_value` column?

In [ ]:
# Write your code here.

Question 3: Select rows from 1000 to 2000 and exclude column `payment_sequential`.

In [ ]:
# Write your code here.

Question 4: How many choices of payment installments do customers have?

In [ ]:
# Write your code here.

Question 5: Select only orders which have been paid either by credit card or boleto and having the payment value greater or equal to 100.

In [ ]:
# Write your code here.

Question 6: For dataframe, there is the `quantile` function to calculate percentile values ([Link here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html)). See if you can calculate the percentile 30, 60, 90 and 95 for `payment_value` column.

In [ ]:
# Write your code here.